<!doctype html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    <div class="container-fluid ml-2">
        {{>navbar}}
    </div>

    <div class="container-fluid">
        <div class="row pl-5">
            <div class="col-12 mt-4">
                <h3>About the Weather App</h3>
                <p>
                    This Weather App is created by i. Haluk Aksoy, by following an Udemy course as an exercise. It uses geolocation data from <a href="https://www.mapbox.com/">mapbox.com</a> and weather data from <a href="https://weatherstack.com/">weatherstack.com</a>
                </p>
                <p>
                    <a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2">The Complete Node.js
                        Developer Course (3rd Edition) by Andrew Mead and Rob Percival</a>
                </p>

                <p>
                    <a href="https://github.com/aksoyih/weather-app">GitHub repository of the application</a>
                </p>

                <script src="https://gist-it.appspot.com/https://github.com/aksoyih/weather-app/blob/main/src/app.js"></script>
            </div>

        </div>
    </div>

</body>

</html>