<!doctype html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>
    {{>navbar}}

    <div class="container-fluid">
        <div class="row pl-5">
            <div class="col-12 mt-4">
                <h3>About the Weather App</h3>
                <p>
                    This Weather App is created by following an Udemy course
                </p>
                <p>
                    <a href="https://www.udemy.com/course/the-complete-nodejs-developer-course-2">The Complete Node.js
                        Developer Course (3rd Edition) by Andrew Mead and Rob Percival</a>
                </p>
            </div>

        </div>
    </div>

</body>

</html>